<div class = "question2">
    <h1>第2問</h1>
    <h2>ハッピーな気分な時には、、、？</h2>
    <div class = "question2_1">
        <div class = "question2_image1_1">
            <%= link_to image_tag("kisuma.jpg", class:"question2_image1"), memes_show1_path %>
            <h3>ただただかわいい犬を拝みたい</h3>
        </div>
        <div class = "question2_image2_1">
            <%= link_to image_tag("kandou.jpg", class:"question2_image2"), memes_show2_path %>
            <h3>感動系もどんと来い！</h3>
        </div>
    </div>

</div>