
<div class = "question1">
    <h1>第1問</h1>
    <h2>今の気分は、、、？</h2>
    <div class = "question1_1">
        <div class = "question1_image1_1">
            <%= link_to image_tag("happy.jpg", class:"question1_image1"), memes_question2_path %>
            <h3>ハッピー！</h3>
        </div>
        <div class = "question1_image2_1">
            <%= link_to image_tag("jinseiha-domo-do.jpg", class:"question1_image2"), memes_question3_path %>
            <h3>人生ハードモード</h3>
        </div>
        <div class = "question1_image3_1">
            <%= link_to image_tag("iraira.jpg", class:"question1_image3"), memes_question4_path %>
            <h3>むかつくううう</h3>
        </div>
    </div>

</div>