<div class = "question4">
    <h1>第2問</h1>
    <h2>ストレスに感じてて、、、</h2>
    <div class = "question4_1">
        <div class = "question4_image1_1">
            <%= link_to image_tag("chill.jpg", class:"question4_image1"), memes_show5_path %>
            <h3>心を落ち着かせたい</h3>
        </div>
        <div class = "question4_image2_1">
            <%= link_to image_tag("iyashi.jpg", class:"question4_image2"), memes_show6_path %>
            <h3>癒しが欲しい</h3>
        </div>
    </div>

</div>