<div class = "question3">
    <h1>第2問</h1>
    <h2>人生ハードで、、、？</h2>
    <div class = "question3_1">
        <div class = "question3_image1_1">
            <%= link_to image_tag("genki.jpg", class:"question3_image1"), memes_show3_path %>
            <h3>元気出させてほしい</h3>
        </div>
        <div class = "question3_image2_1">
            <%= link_to image_tag("kusu.jpg", class:"question3_image2"), memes_show4_path %>
            <h3>クスッと笑わせてほしい</h3>
        </div>
    </div>

</div>