
<div class = "youtube">
    <iframe width="416" height="740" src="https://www.youtube.com/embed/2FwpGW4ekbU" title="自分の運動神経が分かっていないワンコ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>