<div class = "youtube">
<iframe width="402" height="715" src="https://www.youtube.com/embed/hAt2bAqqwkE" title="é£¼ã„ä¸»ã•ã‚“ã¨ä¸€ç·’ã«ã„ãŸãã¦å¤œæ›´ã‹ã—ã‚’ã—ãŸå­çŠ¬ãŒã“ã¡ã‚‰ðŸ˜ªï½œPECO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>