<div class = "youtube">
<iframe width="416" height="740" src="https://www.youtube.com/embed/CYQ46On2MS0" title="æ„Ÿå‹•ã®çž¬é–“ðŸ¤— ãŠçˆ¶ã•ã‚“ã¨æ•°ãƒµæœˆæŒ¯ã‚Šã®å†ä¼šã™ã‚‹ãƒ¯ãƒ³ã‚³ã€PECO TVã€‘" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>