
<div class = "question1">
    <h1>犬のサイズは何がすき？</h1>
    <div class = "question1_1">
        <div class = "question1_image1_1">
            <%= link_to image_tag("kogata.jpg", class:"question1_image1"), perfumes_question2_path %>
            <h3>ちいかわがすき！</h3>
        </div>
        <div class = "question1_image2_1">
            <%= link_to image_tag("chuugata.jpg", class:"question1_image2"), perfumes_question3_path %>
            <h3>中くらいがかわいい！</h3>
        </div>
        <div class = "question1_image3_1">
            <%= link_to image_tag("oogata.jpg", class:"question1_image3"), perfumes_question4_path %>
            <h3>大きいのが１番！</h3>
        </div>
    </div>

</div>