<div class = "question2">
    <h1></h1>
    <h2>雰囲気はどんな感じがいい？</h2>
    <div class = "question2_1">
        <div class = "question2_image1_1">
            <%= link_to image_tag("fuwafuwa.jpg", class:"question2_image1"), perfumes_show1_path %>
            <h3>ふわふわ～</h3>
        </div>
        <div class = "question2_image2_1">
            <%= link_to image_tag("sarasara.jpg", class:"question2_image2"), perfumes_show2_path %>
            <h3>しゅっとしてる</h3>
        </div>
    </div>

</div>