<div class = "question4">
    <h1>第2問</h1>
    <h2>雰囲気はどんな感じがいい？</h2>
    <div class = "question4_1">
        <div class = "question4_image1_1">
            <%= link_to image_tag("fuwafuwa3.jpg", class:"question4_image1"), perfumes_show5_path %>
            <h3>ふわふわ～</h3>
        </div>
        <div class = "question4_image2_1">
            <%= link_to image_tag("sarasara3.jpg", class:"question4_image2"), perfumes_show6_path %>
            <h3>しゅっとしてる</h3>
        </div>
    </div>

</div>