<div class = "question3">
    <h1>第2問</h1>
    <h2>雰囲気はどんな感じがいい？</h2>
    <div class = "question3_1">
        <div class = "question3_image1_1">
            <%= link_to image_tag("fuwafuwa2.jpg", class:"question3_image1"), perfumes_show3_path %>
            <h3>ふわふわ～</h3>
        </div>
        <div class = "question3_image2_1">
        <%= link_to image_tag("sarasara2.jpg", class:"question3_image2"), perfumes_show4_path %>
            <h3> しゅっとしてる</h3>
        </div>
    </div>

</div>