<h4><おすすめのミックス></h4>
<p>チワブル”チワワ×フレンチブルドッグ” </p>
<div class="show-about">
        <%= image_tag 'chiwaburu.jpg', :class=>"show-image", :alt => 'dogsssss' %>
        <div class="show-text">
        aaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
    </div>
