<div class="show1">
    <div class="show-title">
        <h4><おすすめのミックス></h4>
        <p>ポメプー”ポメラニアン×トイプードル” </p>
    </div>
    <div class="show-about">
        <%= image_tag 'marupu-.jpg', :class=>"show-image", :alt => 'dogsssss' %>
        <div class="show-text">
        aaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
    </div>
