<h4><おすすめのミックス></h4>
<p>ゴールデンドゥードル”ゴールデンレトリバー×プードル” </p>
<div class="show-about">
        <%= image_tag 'go-rudendwu-doru-.jpg', :class=>"show-image", :alt => 'dogsssss' %>
        <div class="show-text">
        aaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
    </div>
