// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a{
    color:rgb(171, 95, 95); 
}

.introduce_image1{
    object-fit: cover;
    width:200px;
    height:285px;
    margin:10px;
}

.introduce_image2{
    object-fit: cover;
    width:200px;
    height:255px;
    margin:10px;
}

.introduce_image3{
    
    width:216px;
    height:161px;
    margin:10px;
}

.introduce_image4{
    width:200px;
    height:255px;
    margin:10px;
}

.introduce_image5{
    width:200px;
    height:255px;
    margin:10px;
}

.introduce_image6{
    width:200px;
    height:255px;
    margin:10px;
}

.introduce_image7{
    width:200px;
    height:255px;
    margin:10px;
}

.introduce_image8{
    width:200px;
    height:255px;
    margin:10px;
}

.introduce_image9{
    width:200px;
    height:255px;
    margin:10px;
}

.introduce_image10{
    object-fit: cover;
    width:200px;
    height:285px;
    margin:10px;
}

.introduce_image11{
    object-fit: cover;
    width:200px;
    height:285px;
    margin:10px;
}

.introduce_image12{
    object-fit: cover;
    width:200px;
    height:255px;
    margin:10px;
}



.introduce_image1_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image2_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image3_1{
    width:216px;
    height:161px;
    margin:10px;
}

.introduce_image4_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image5_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image6_1{
    width:216px;
    height:161px;
    margin:10px;
}

.introduce_image7_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image8_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image9_1{
    width:216px;
    height:161px;
    margin:10px;
}

.introduce_image10_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image11_1{
    width:200px;
    height:200px;
    margin:10px;
}

.introduce_image12_1{
    width:200px;
    height:200px;
    margin:10px;
}


.introduce1_1{
    display:flex;
    justify-content: center;
    margin:10px;
    width:cover;
    height:500px;
    flex-wrap: wrap;
}

.introduce{
    text-align: center;
}