// Place all the styles related to the perfumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question2_image1{
    width:200px;
    height:200px;
}

.question2_image2{
    width:200px;
    height:200px;
}

.question2 h1{
    text-align: center;
}

.question2 h2{
    text-align: center;
}

.question2{
    background-color: #ffffff;
    height: 1000px;
    text-align: center;
}

.question2_image1_1{
    margin:10px;
}

.question2_image2_1{
    margin:10px;
}

.question2_1{
    display:flex;
    justify-content: center;
}